
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carlos cardo portafolio</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bodyindex">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Carlos Cardo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>

                        <a href="https://www.facebook.com/profile.php?id=530462946">facebook</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/carlos-cardo-74830011a?trk=hp-identity-name">linkedin</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/car2323">twitter</a>
                    </li>
                    <li>
                        <a href="https://github.com/car2323">github</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                
                
                <div class="fill" style="background-image:"><%=image_tag('serverroom')%></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:"><%=image_tag('coding')%></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:"><%=image_tag('mic')%></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:"><%=image_tag('mixing')%></div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


<!-- Page Content -->
    <div class="container">
                  

        <div class="row">

                  <%if user_signed_in?%> 
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-danger floatrigth1" %></t>
                     <a class="btn btn-primary floatrigth1"href="/">Home</a>     
                     <br>
                     <br>
                     <br>
                     <t class="floatrigth2"><%=current_user.email%>&nbsp</t>
                     <a class="floatrigth2"href="/users/edit">User: </a>

                     
                  <%else%>
                     <a class="btn btn-primary floatrigth"href="/users/sign_in"> Login </a> 
                     <a class="btn btn-primary floatrigth" href="/users/sign_up"> Sign up </a> </p>
                     
                  <%end%>


            <div class="col-lg-12">
                <h1 class="name-carlos">Relevant Experience</h1>

                <h3><p class="name-video">Senior Audio Visual Technician 2011 – Present</p></h3>
                <p class="text-justify text-carlos">
                  AVS is the premier technology production company for many Fortune 500 firms in South Florida and the in-house A/V provider for luxurious hotels such as the Downtown Miami Marriott Marquis, JW Marriott and Dadeland Marriott, generating over US $5 Million in revenue each year while holding more than US$15 Million in cutting-edge technology equipment. Some of its main clients are; Roche, Pfizer, Baptist Health, Microsoft, MasterCard, JBL, Leon Medical Center, Citibank, Telemundo, UDT, Tallen, and Political Rallies www.audiovisualsvc.com</p>
                  <p class="text-justify text-carlos">  Designing, setting up, operating, testing, troubleshooting, maintaining and repairing equipment such as; telecommunication products, microphones, video recorders, projectors, lighting, sound mixing equipment, truss, rigging equipment, forklifts and power supplies. 
                 Executing successful events as Technical Director (TD), managing all production logistics and delegating work to up to 10 staff members and contractors while securing outstanding customer service and meeting SLAs.
                 Researching and procuring the most innovative technology and inventory management.
                 </p>
            </div>
            <br>
            <hr>
            <div class="col-lg-12">
              
                <h3><p class="name-video">3er Cielo Productions C.A.– Caracas, Venezuela Live Sound/Audio Technician   2010 - 2011</p></h3>
                <p class="text-justify text-carlos">
                  3er Cielo Productions C.A. is an established live technology company for events and shows of all kinds, including by not limited to concerts, bands, orchestras, conferences and sport events. The company’s produces countless events on a yearly basis in prestigious venues with various capacities up to 10,000 people. www.3ercielo.com 
                   Installing, operating & loading out of sound, lighting and staging equipment for live events.
                   Creating tasteful acoustical mixes in multiple venues by engineering both Front of House (FOH) and Monitor positions with digital and analog consoles and installing fixed large speaker arrays and other A/V equipment for venues. 
                  </p>
                <h3><p class="name-video">
                Instituto Universitario de Tecnología (IUT – Dr. Federico Rivero Palacio) – Caracas, Venezuela 
                Technology Professor  2006 - 2010</p></h3>
                  <p class="text-justify text-carlos">Founded in 1971, the IUT is a Technological Institute created with the partnership of several French universities and adapted the French Curriculum for careers such as Software, Mechanical, Electrical and Civil Engineering. 
                   Assistant Director for the Audio Visual Department of the Institute. Video recording and use of post-production software such as Final Cut Pro and Adobe Premier to compose segments of video to be used on multimedia projects. Audio technician for all events and training of fellow faculty on A/V equipment.  
                   Professor of the software development and computer network lab. Teaching computer network courses (wiring, routers & switchers) and managing the help desk operations, cutting incident response time by half by creating helpdesk ticketing system that resulted in an efficiency rating of 98%.
                  </p>
            </div>
            <hr>
            <br>
            <br>
            <br>
        


    </div><!--container-->
            <div class="col-lg-12">
                <h1 class="name-carlos">app</h1>

                <h3><p class="name-video">Application/Software created</p></h3>
                <p class="text-justify text-carlos">
                  PayEquipment.com, Keep track of your rental equipment pay back.</p>
                 <p>It is NOT an accounting system, 
                     this system provides information for the user to make better decisions when it’s time to buy new equipment
                 </p>
                 <a href="https://payequipment.herokuapp.com/">payequipment.com</a>
                 <br>
                 <br>
                 <br>
            </div>
            <div class="col-lg-12">
                <h1 class="name-carlos">Gallery</h1>

                
                 <br>
                 
            </div>
       
<hr>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>




<div id="links">
    <a href="gallery/1.jpg" title="1" data-gallery>
        <img src="gallery/thumbnails/1.jpg" alt="1">
    </a>
    <a href="gallery/2.jpeg" title="2" data-gallery>
        <img src="gallery/thumbnails/2.jpg" alt="2">
    </a>
    <a href="gallery/3.jpg" title="3" data-gallery>
        <img src="gallery/thumbnails/3.jpg" alt="3">
    </a>
    <a href="gallery/4.jpg" title="4" data-gallery>
        <img src="gallery/thumbnails/4.jpg" alt="4">
    </a>
    <a href="gallery/5.jpg" title="5" data-gallery>
        <img src="gallery/thumbnails/5.jpg" alt="5">
    </a>
    <a href="gallery/6.jpeg" title="6" data-gallery>
        <img src="gallery/thumbnails/6.jpg" alt="6">
    </a>
    <a href="gallery/7.jpeg" title="7" data-gallery>
        <img src="gallery/thumbnails/7.jpg" alt="7">
    </a>
    <a href="gallery/8.jpg" title="8" data-gallery>
        <img src="gallery/thumbnails/8.jpg" alt="8">
    </a>
    <a href="gallery/9.jpeg" title="9" data-gallery>
        <img src="gallery/thumbnails/9.jpg" alt="9">
    </a>
    <a href="gallery/10.jpg" title="10" data-gallery>
        <img src="gallery/thumbnails/10.jpg" alt="10">
    </a>



    <a href="gallery/11.jpg" title="11" data-gallery>
        <img src="gallery/thumbnails/11.jpg" alt="11">
    </a>
    <a href="gallery/12.jpeg" title="12" data-gallery>
        <img src="gallery/thumbnails/12.jpg" alt="12">
    </a>
    <a href="gallery/13.jpg" title="13" data-gallery>
        <img src="gallery/thumbnails/13.jpg" alt="13">
    </a>
    <a href="gallery/14.jpg" title="14" data-gallery>
        <img src="gallery/thumbnails/14.jpg" alt="14">
    </a>
    <a href="gallery/15.jpg" title="15" data-gallery>
        <img src="gallery/thumbnails/15.jpg" alt="15">
    </a>
    <a href="gallery/16.jpg" title="16" data-gallery>
        <img src="gallery/thumbnails/16.jpg" alt="16">
    </a>
    <a href="gallery/17.jpg" title="17" data-gallery>
        <img src="gallery/thumbnails/17.jpg" alt="17">
    </a>
    <a href="gallery/18.jpg" title="18" data-gallery>
        <img src="gallery/thumbnails/18.jpg" alt="18">
    </a>
    <a href="gallery/19.jpg" title="19" data-gallery>
        <img src="gallery/thumbnails/19.jpg" alt="19">
    </a>
    <a href="gallery/20.jpg" title="20" data-gallery>
        <img src="gallery/thumbnails/20.jpg" alt="20">
    </a>



   <a href="gallery/21.jpg" title="21" data-gallery>
        <img src="gallery/thumbnails/21.jpg" alt="21">
    </a>
    <a href="gallery/22.jpg" title="22" data-gallery>
        <img src="gallery/thumbnails/22.jpg" alt="22">
    </a>
    <a href="gallery/23.jpg" title="23" data-gallery>
        <img src="gallery/thumbnails/23.jpg" alt="23">
    </a>
    <a href="gallery/24.jpg" title="24" data-gallery>
        <img src="gallery/thumbnails/24.jpg" alt="24">
    </a>
    <a href="gallery/25.jpg" title="25" data-gallery>
        <img src="gallery/thumbnails/25.jpg" alt="25">
    </a>
    <a href="gallery/26.jpg" title="26" data-gallery>
        <img src="gallery/thumbnails/26.jpg" alt="26">
    </a>
    <a href="gallery/27.jpg" title="27" data-gallery>
        <img src="gallery/thumbnails/27.jpg" alt="27">
    </a>
    <a href="gallery/28.jpg" title="28" data-gallery>
        <img src="gallery/thumbnails/28.jpg" alt="28">
    </a>
    <a href="gallery/29.jpg" title="29" data-gallery>
        <img src="gallery/thumbnails/29.jpg" alt="29">
    </a>
    <a href="gallery/30.jpg" title="30" data-gallery>
        <img src="gallery/thumbnails/30.jpg" alt="30">
    </a>



    <a href="gallery/31.jpg" title="31" data-gallery>
        <img src="gallery/thumbnails/31.jpg" alt="31">
    </a>
    <a href="gallery/32.jpeg" title="32" data-gallery>
        <img src="gallery/thumbnails/32.jpg" alt="32">
    </a>
    <a href="gallery/33.jpeg" title="33" data-gallery>
        <img src="gallery/thumbnails/33.jpg" alt="33">
    </a>
    <a href="gallery/34.jpg" title="34" data-gallery>
        <img src="gallery/thumbnails/34.jpg" alt="34">
    </a>
    <a href="gallery/35.jpg" title="35" data-gallery>
        <img src="gallery/thumbnails/35.jpg" alt="35">
    </a>
    <a href="gallery/36.jpg" title="36" data-gallery>
        <img src="gallery/thumbnails/36.jpg" alt="36">
    </a>
    <a href="gallery/37.jpg" title="37" data-gallery>
        <img src="gallery/thumbnails/37.jpg" alt="37">
    </a>
    <a href="gallery/38.jpg" title="38" data-gallery>
        <img src="gallery/thumbnails/38.jpg" alt="38">
    </a>
    <a href="gallery/39.jpg" title="39" data-gallery>
        <img src="gallery/thumbnails/39.jpg" alt="39">
    </a>
    <a href="gallery/40.jpg" title="40" data-gallery>
        <img src="gallery/thumbnails/40.jpg" alt="40">
    </a>



    <a href="gallery/41.jpg" title="41" data-gallery>
        <img src="gallery/thumbnails/41.jpg" alt="41">
    </a>
    <a href="gallery/42.jpg" title="42" data-gallery>
        <img src="gallery/thumbnails/42.jpg" alt="42">
    </a>
    <a href="gallery/43.jpg" title="43" data-gallery>
        <img src="gallery/thumbnails/43.jpg" alt="43">
    </a>
    <a href="gallery/44.jpg" title="44" data-gallery>
        <img src="gallery/thumbnails/44.jpg" alt="44">
    </a>
    <a href="gallery/45.jpg" title="45" data-gallery>
        <img src="gallery/thumbnails/45.jpg" alt="45">
    </a>
    <a href="gallery/46.jpg" title="46" data-gallery>
        <img src="gallery/thumbnails/46.jpg" alt="46">
    </a>
    <a href="gallery/47.jpg" title="47" data-gallery>
        <img src="gallery/thumbnails/47.jpg" alt="47">
    </a>
    <a href="gallery/48.jpg" title="48" data-gallery>
        <img src="gallery/thumbnails/48.jpg" alt="48">
    </a>
    <a href="gallery/49.jpg" title="49" data-gallery>
        <img src="gallery/thumbnails/49.jpg" alt="49">
    </a>
    <a href="gallery/50.jpg" title="50" data-gallery>
        <img src="gallery/thumbnails/50.jpg" alt="50">
    </a>
    
 <a href="gallery/51.jpg" title="51" data-gallery>
        <img src="gallery/thumbnails/51.jpg" alt="51">
    </a>
    <a href="gallery/52.jpg" title="52" data-gallery>
        <img src="gallery/thumbnails/52.jpg" alt="52">
    </a>
    <a href="gallery/53.jpg" title="53" data-gallery>
        <img src="gallery/thumbnails/53.jpg" alt="53">
    </a>
    <a href="gallery/54.jpg" title="54" data-gallery>
        <img src="gallery/thumbnails/54.jpg" alt="54">
    </a>
    <a href="gallery/55.jpg" title="55" data-gallery>
        <img src="gallery/thumbnails/55.jpg" alt="55">
    </a>
    <a href="gallery/56.jpg" title="56" data-gallery>
        <img src="gallery/thumbnails/56.jpg" alt="56">
    </a>
    <a href="gallery/57.jpg" title="57" data-gallery>
        <img src="gallery/thumbnails/57.jpg" alt="57">
    </a>
    <a href="gallery/58.jpg" title="58" data-gallery>
        <img src="gallery/thumbnails/58.jpg" alt="58">
    </a>
    <a href="gallery/59.jpg" title="59" data-gallery>
        <img src="gallery/thumbnails/59.jpg" alt="59">
    </a>
    <a href="gallery/60.jpg" title="60" data-gallery>
        <img src="gallery/thumbnails/60.jpg" alt="60">
    </a>



    <a href="gallery/61.jpg" title="61" data-gallery>
        <img src="gallery/thumbnails/61.jpg" alt="61">
    </a>
    <a href="gallery/62.jpg" title="62" data-gallery>
        <img src="gallery/thumbnails/62.jpg" alt="62">
    </a>
    <a href="gallery/63.jpg" title="63" data-gallery>
        <img src="gallery/thumbnails/63.jpg" alt="63">
    </a>
    <a href="gallery/64.jpg" title="64" data-gallery>
        <img src="gallery/thumbnails/64.jpg" alt="64">
    </a>
    <a href="gallery/65.jpg" title="65" data-gallery>
        <img src="gallery/thumbnails/65.jpg" alt="65">
    </a>
    
</div>
 <footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Carlos Cardo 2016</p>
        </div>
    </div>
    <!-- /.row -->
 </footer>



